<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>studyJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>



<!-- web.xml 배포서술자(프로젝트에서 가장먼저 실행) -->

<!-- 에러 발생시 페이지 처리-->

<!-- 	
	<errer-page>
		<error-code>404</error-code>
		<location>
			/error/404Err.jsp
		</location>
	</errer-page> 
	<errer-page>
		<error-code>500</error-code>
		<location>
			/error/500Err.jsp
		</location>
	</errer-page>
-->

<!-- 서블릿 매핑 -->
<servlet>
	<servlet-name>TestServlet1</servlet-name>
	<servlet-class>com.itwillbs.servlet.TestServlet1</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>TestServlet1</servlet-name>
	<url-pattern>/test1</url-pattern>
</servlet-mapping>
<!-- 서블리 매핑 -->


</web-app>
